@charset "utf-8";
*{
	margin: 0 auto;
	padding: 0 auto;
	box-sizing: border-box;
}
#wrap{
	width:600px;
	height:658px;
	background-color:aquamarine;
	margin-top: 50px;
	
}
.form1{
	margin-left:55px;
	margin-top: 50px;
	display: inline-block;

}
.heading{
    text-align: center;
	text-transform: capitalize;
	color:black;
}
.form1 input{
	margin-left: 10px;
	
}
.form2{
	margin-left:55px;
	margin-top: 21px;
}
.form2 input{
	margin-left: 7px;
}
.form3{
	margin-left: 55px;
	margin-top: 21px;
}
.fomr3 input{
	margin-left: 7px;
}
.form4{
	margin-left: 55px;
	margin-top: 21px;
}
.form4 input{
	margin-left: 7px;
}
.form5{
	margin-left: 55px;
	margin-top: 21px;
}
.fomr5 input{
	margin-left: 7px;
}
.form6{
	margin-left: 55px;
	margin-top: 21px;
}
.form6 input{
	margin-left: 7px;
}
.form7{
	margin-left: 55px;
	margin-top: 21px;
}
.form7 input{
	margin-left: 7px;
}
.form8{
	margin-left: 55px;
	margin-top: 21px;
}
.form8 input{
	margin-left: 7px;
}
.form9{
	margin-left: 55px;
	margin-top: 21px;
}
.form9 textarea{
	margin-left: 7px;

}
.form10{
	margin-left: 55px;
	margin-top: 21px;
}
.form10 input{
	margin-left: 7px;
}
.form11{
	margin-left: 55px;
	margin-top: 21px;
}
.form11 input{
	margin-left: 7px;
}
.form12{
    margin-left:194px;
	margin-top: 30px;
	cursor:pointer;
}

.form13{
	margin-left: 259px;
	margin-top: -21px;
	cursor:pointer;
	
}
.form9 textarea{
	width:175px;
	height:21px;
	
}
.form12 input{
    background-color: green;
	color:white;
	
}
.form13 input{
	background-color: red;
	color:white;
}
@media screen and (max-width:700px){
	
	
	.heading{
    text-align: center;
	text-transform: capitalize;
	color:black;
}
#wrap{
	width:600px;
	height:658px;
	background-color: deepskyblue;
    margin-top: 0px;
	
}
	.form1{
	margin-left:10px;
	margin-top: 50px;
	display: inline-block;


}
	
	.form1 input{
	margin-left: 10px;
	
}
.form2{
	margin-left:10px;
	margin-top: 21px;
}
.form2 input{
	margin-left: 7px;
}
.form3{
	margin-left: 10px;
	margin-top: 21px;
}
.fomr3 input{
	margin-left: 7px;
}
.form4{
	margin-left: 10px;
	margin-top: 21px;
}
.form4 input{
	margin-left: 7px;
}
.form5{
	margin-left: 10px;
	margin-top: 21px;
}
.fomr5 input{
	margin-left: 7px;
}
.form6{
	margin-left: 10px;
	margin-top: 21px;
}
.form6 input{
	margin-left: 7px;
}
.form7{
	margin-left: 10px;
	margin-top: 21px;
}
.form7 input{
	margin-left: 7px;
}
.form8{
	margin-left: 10px;
	margin-top: 21px;
}
.form8 input{
	margin-left: 7px;
}
.form9{
	margin-left: 10px;
	margin-top: 21px;
}
.form9 textarea{
	margin-left: 7px;

}
.form10{
	margin-left: 10px;
	margin-top: 21px;
}
.form10 input{
	margin-left: 7px;
}
.form11{
	margin-left: 10px;
	margin-top: 21px;
}
.form11 input{
	margin-left: 7px;
}
.form12{
    margin-left:10px;
	margin-top: 30px;
	cursor:pointer;
	
}

.form13{
	margin-left: 80px;
	margin-top: -21px;
	cursor:pointer;
	
}
.form9 textarea{
	width:175px;
	height:21px;
	
}
.form12 input{
    background-color: green;
	color:white;
	
}
.form13 input{
	background-color: red;
	color:white;
}
	
}
	
		
	